name: CI
on:
  push:
    branches:
      - main

jobs:
  build_api:
    name: "build: API"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: set up docker buildx
        uses: docker/setup-buildx-action@v1
      - name: login to github container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: get short commit hash for image tag
        id: shortened_hash
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          context: ./server/
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/jflessau/retro-cube-server:latest
